@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--color-zinc-50);
  color: var(--color-zinc-900);
  font-family: var(--font-sans), system-ui, sans-serif;
}
